{
  "cloud-initd": "enable",
  "bucket": "${bucket}",
  "region": "${region}",
%{ if include_initial_passwd ~}
  "initial_passwd": "${initial_passwd}",
%{ endif ~}
%{ if license_key != "" ~}
  "license": "${license_key}",
%{ endif ~}
%{ if flex_token != "" ~}
  "Flex_token": "${flex_token}",
%{ endif ~}
  "config": "${config_key}"
}
