config system global
    set hostname "${hostname}"
    set admin-sport ${admin_https_port}
    set admintimeout ${admin_timeout_minutes}
end

config system password-policy
    set status disable
end

config system admin
    edit admin
        set force-password-change ${admin_force_password_change}
    next
end
