[fortiaigate]
faig-aws ansible_host=${public_ip} ansible_user=ubuntu%{ if ssh_private_key_file != "" } ansible_ssh_private_key_file=${ssh_private_key_file}%{ endif }

[fortiaigate:vars]
ansible_python_interpreter=/usr/bin/python3
aws_vpc_cidr=${aws_vpc_cidr}
aws_public_subnet_cidr=${aws_public_subnet_cidr}
k3s_cluster_cidr=${k3s_cluster_cidr}
k3s_service_cidr=${k3s_service_cidr}
k3s_cluster_dns=${k3s_cluster_dns}
