# terraform/common.tfvars supplies aws_profile, aws_region, name_prefix,
# allowed_ingress_cidr, and tags.

aws_prep_state_path    = "../aws-prep/terraform.tfstate"
aws_ec2_k3s_state_path = "../aws-ec2-k3s/terraform.tfstate"

fortigate_enabled = true

ssh_key_name = "my-existing-keypair"

fortigate_instance_type      = "c6i.xlarge"
fortigate_architecture       = "x86_64"
fortigate_version            = "7.6"
fortigate_ami_name_override  = ""
fortigate_license_type       = "byol"
fortigate_license_mode       = "byol_file"
fortigate_license_file       = "../../licenses/FGT.lic"
fortigate_admin_port         = 8443
fortigate_enable_ssh         = true
fortigate_enable_api         = true
fortigate_api_admin          = "apiadmin"
fortigate_api_key_length     = 30
